<h3>Add a new exercise</h3>

<form action="/exercise/new" method="post">
<ul class="form-exercise-new">
  <li>
    <label>Exercise Name <span class="required">*</span></label>
    <input type="text" name="name" class="field-long" />
  </li>
  <li>
    <label>Description</label>
    <textarea name="description" class="field-long field-textarea"></textarea>
  </li>
  <li>
    <input type='Submit' value="ADD" />
  </li>
</ul>
</form>

<a class="button-cancel" href="/exercises/view/active">Cancel</a>

