<form action="/exercise/new" method="post">
  <fieldset>
    <legend>Add New Exercise</legend>
    <dl class="form exercise-new">
      <dt>
        <label for="exercise_name">Exercise Name<span class="required">*</span></label>
      </dt>
      <dd>
        <input type="text" name="name" class="field-long" id="exercise_name" required />
      </dd>

      <dt>
        <label for="exercise_description">Description</label>
      </dt>
      <dd>
        <textarea name="description" id="exercise_description"></textarea>
      </dd>
    </dl>

    <input type='Submit' value="ADD" class="save" />
  </fieldset>
</form>

<a class="btn cancel" href="/exercises/view/active">Cancel</a>

