<!doctype html>
<html lang="en-US">
  <head>
    <title>PT Tracker</title>
    <link rel="stylesheet" href="/stylesheets/pttracker.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400" />
  </head>

  <body>
    <header class="main"> 
      <nav class="navigation">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/exercises/view/active">Exercises</a></li>
          <li><a href="/session/new">Start Session</a></li>
          <li><a href="/session/history">Session History</a></li>
        </ul>
      </nav>
    </header>

    <% if session[:success] %>
      <p class="success"><%= session.delete(:success) %></p>
    <% end %>

    <% if session[:error] %>
      <p class="error"><%= session.delete(:error) %></p>
    <% end %>

    <%== yield %>
  </body>

</html>