<!doctype html>
<html lang="en-US">
  <head>
    <title>PT Tracker</title>
    <link rel="stylesheet" href="/stylesheets/pttracker.css">
  </head>

  <body>
    <header> 
      <ul id="navigation">
        <li><a href="/">Home</a></li>
        <li><a href="/exercises/view/active">Exercises</a></li>
        <li><a href="/session/new">Start Session</a></li>
        <li><a href="/session/history">Session History</a></li>
      </ul>
    </header>

    <% if session[:success] %>
      <p class="success"><%= session.delete(:success) %></p>
    <% end %>

    <% if session[:error] %>
      <p class="error"><%= session.delete(:error) %></p>
    <% end %>

    <%== yield %>
  </body>

</html>