<h2>Exercise List</h2>

<form action="/session/completed" method="post">
  <ul>
    <p>Check off all exercises you've done for this session</p>
      <% @session_list.each do |exercise| %>
        <li id="session">
          <input type="checkbox" name="<%= exercise[:exercise_id] %>" value="t" />
          <%= exercise[:name] %>
          </li>
    <% end %>
</form>

<input type='Submit' value="Save" />