<div class="wrapper new-session">
  <% if @active_exercise_list.empty? %>
    <p class="inactive">You have no active exercises.</p>
    <p class="inactive">Go to the <a class="button-new" href="/exercises/view/all">exercises</a> page and add new exercises or activate some inactive ones. </p>

  <% else %>
    <h1>Check off all exercises you've done for this session</h1>

    <form action="/session/completed" method="post">
      <ul>
          <% @active_exercise_list.each do |exercise| %>
            <li>
              <input type="checkbox" name="<%= exercise[:id] %>" value="t" / >
              <%= exercise[:name] %>
            </li>
          <% end %>
      </ul>
       <input type='Submit' value="Save" class="save" />
    </form>
  <% end %>
  
  <a class="btn cancel" href="/exercises/view/active">Cancel</a>
</div>
