<div class="wrapper session-history">
  <h1>Previous Sessions</h1>  

  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Exercises Completd</th>
      </tr>
    </thead>
    <tbody class="session_history">
        <tr>
          <% @sessions_completed.each do |session| %>
            <td>
              <a href="/session/<%= session[:id] %>"><%= session[:date_completed] %></a>
            </td>
            <td><%= session[:completed_count] %></td>
          </tr>
          <% end %>
    </tbody>
  </table>
</div>


