/*================================================== */
/* CSS RESET */
/*================================================== */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/*================================================== */
/* Main Styles */
/*================================================== */

html {
  font-size: 16px;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Courier New", Courier, "Anadale Mono", monospace;
  min-width: 700px;
}


h1 {
  font-size: 1.25rem;
  text-align: center;
  margin-bottom: 3%;
}

table {
  width: 100%;
  border: 1px solid #111;
  border-collapse: collapse;

}

th {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border-bottom: 2px solid #111;
  border-top: 1px solid #999;
  font-weight: bold;
}

th, td {
  padding: 7px 10px 10px 10px;
}

tr:nth-child(even) {
  background: #b3c3d0;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto 30px auto;
}

/*================================================== */
/* Navigation */
/*================================================== */

header {
  background-color: #666;
  padding: 15px;
  margin-bottom: 20px;
}

.navigation {
  margin: 0 auto;
  text-align: center;
}


header li {
  display: inline-block;
}

header a {
  padding: 6px 18px 6px 18px;
  color: #e4e5ec;
}


/*================================================== */
/* Reports*/
/*================================================== */
.session-history {
  text-align: center;
}



/*================================================== */
/* Forms */
/*================================================== */

fieldset {
  margin: 0 auto 20px auto;
  padding-bottom: 3%;
}

legend {
  font-weight: bold;
  margin-bottom: 20px;
}

input[type="text"],
.field-long {
  width: 80%;
}

textarea {
  height: 100px;
  width: 80%;
}

dt {
  float: left;
  clear: left;
  text-align: left;
  font-weight: bold;
  width: 200px;
}

dd {
  margin: 10px 0 20px 110px;
}

.required {
  color: red;
}

.new-session,
.exercise-data {
  padding-bottom: 5%;
  margin: 4% auto;
  line-height: 1.5em;
  position: relative;
}

/* ---------------------------*/


td.center-display {
  text-align: center;
}

td.right-display {
  text-align: right;
}





/* ================================================= */
/* Buttons */
/* ================================================= */

input[type="submit"],
.btn {
  width: 100px;
  border: 1px solid #ccc;
  padding: 10px 10px;
  border-radius: 4px;
  color: #fff;
  font-size: 0.80em;
  text-align: center;
}


.save,
.edit {
  background-color: #0087cc;
}

.cancel,
.delete {
  background: #b91717;
}


.exercise-data .cancel {
  position: absolute;
  bottom: 15px;
  right: 16.5%;
}

.exercise-data .save {
  position: absolute;
  bottom: 15px;
}

.new-session .save {
  position: absolute;
  bottom: 5px;
  left: 5px;

}

.new-session .cancel {
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.add-exercise {
  font-size: 110%;
  background-color: #0087cc;
  display: inline-block;
  width: 200px;
}

.status {
  background: #999;
  display: inline-block;
  width: 200px;
 }

/*
.button-delete {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 100%;
  border-radius: 4px;
  color: white;
  background-color: #b91717;
  padding: 4px 8px 4px 8px;
  margin: 15px 0 0 0 ;
}*/



.button-status-edit {
  font-size: 100%;
  border-radius: 4px;
  color: white;
  background: rgb(66, 184, 221);
  margin: 10px 0 0 0 ;
  display: inline-block;

}



.exercise-display {
  margin:10px;
  max-width: 800px;
  padding: 20px 12px 10px 20px;
}

.exercise-display li {
  padding: 0;
  display: block;
  list-style: none;
  margin: 10px 0 0 0;
  border: 1px groove black;
}

.description {
  padding: 0;
  display: block;
  list-style: none;
  margin: 10px 0 0 0;
  border: 1px groove black;
  height: 120px;

}

.error {
  color: #111111;
  background: #e697ae;
  padding: 5px;
  font-weight: bold;
  text-align: center;

}

.success {
  color: #111111;
  background: #8fd06b;
  padding: 5px;
  font-weight: bold;
  text-align: center;
}


#session {
  padding: 5px;
  list-style: none;
}


td button.current-status-active {
  height: 28px;
  width: 28px;
  color: transparent;
  border: 1px solid #666666;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer; 
  background: #ffffff url("../images/icon_check.png") 50% 50% no-repeat;
}

td button.current-status-inactive {
  height: 28px;
  width: 28px;
  color: transparent;
  border: 1px solid #666666;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer; 
}



