/*================================================== */
/* Main Styles */
/*================================================== */

html {
  font-size: 16px;
}

body {
  font-family: "Courier New", Courier, "Anadale Mono", monospace;
  min-width: 700px;
  box-sizing: border-box;
}


h1 {
  font-size: 2rem;
}

table {
  width: 900px; 
  table-layout: auto#666
}

a {
  text-decoration: none;
  text-transform: uppercase;
  padding: 6px 18px 5px 18px;
  color: black;
}

/*================================================== */
/* Navigation */
/*================================================== */

header {
  background-color: #666;
  padding: 10px;
  margin: 0 auto 20px auto;
}

.navigation {
  text-align: center;
}

.navigation li {
  display: inline-block;
}

header a {
  padding: 6px 18px 5px 18px;
  color: #e4e5ec;
}


/*================================================== */
/* Forms */
/*================================================== */

fieldset {
  width: 70%;
  margin: 0 auto 20px auto;
  padding-bottom: 3%;
}

legend {
  font-weight: bold;
}

input[type="text"] {
  width: 80%;
}

textarea {
  height: 100px;
  width: 80%;
}

dt {
  float: left;
  clear: left;
  text-align: left;
  font-weight: bold;
  width: 200px;
}

dd {
  margin: 10px 0 0 110px;
}

.required {
  color: red;
}

input[type='Submit'] {
  float: right;
}

/* ---------------------------*/

th, td {
  padding: 7px 10px 10px 10px;
}

td.center-display {
  text-align: center;
}

td.right-display {
  text-align: right;
}

th {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 90%;
  border-bottom: 3px solid #111111;
  border-top: 1px solid #999;
}





/* ================================================= */
/* Buttons */
/* ================================================= */

input[type='Submit'],
.btn {
  border: 1px solid #ccc;
  padding: 10px 25px;
  border-radius: 4px;
  color: #fff;
}

.save {
  background-color: #0087cc;;
}

.cancel {
  padding: 5px 15px;
  background: #b91717;
  float: right;
  margin-right: 14%;
}

p.inactive {
  font-size: 100%;
  text-align: center;

}

.button-new {
  font-size: 110%;
  border-radius: 4px;
  color: white;
  background: rgb(66, 184, 221);
  display: inline-block;
}



.button-delete {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 100%;
  border-radius: 4px;
  color: white;
  background-color: #b91717;
  padding: 4px 8px 4px 8px;
  margin: 15px 0 0 0 ;
}

.button-status {
  font-size: 90%;
  border-radius: 4px;
  color: white;
  background: #999;
  display: inline-block;
 }

.button-status-edit {
  font-size: 100%;
  border-radius: 4px;
  color: white;
  background: rgb(66, 184, 221);
  margin: 10px 0 0 0 ;
  display: inline-block;

}



.exercise-display {
  margin:10px;
  max-width: 800px;
  padding: 20px 12px 10px 20px;
}

.exercise-display li {
  padding: 0;
  display: block;
  list-style: none;
  margin: 10px 0 0 0;
  border: 1px groove black;
}

.description {
  padding: 0;
  display: block;
  list-style: none;
  margin: 10px 0 0 0;
  border: 1px groove black;
  height: 120px;

}

.error {
  color: #111111;
  background: #e697ae;
  padding: 5px;
  font-weight: bold;
  text-align: center;

}

.success {
  color: #111111;
  background: #8fd06b;
  padding: 5px;
  font-weight: bold;
  text-align: center;
}


#session {
  padding: 5px;
  list-style: none;
}


td button.current-status-active {
  height: 28px;
  width: 28px;
  color: transparent;
  border: 1px solid #666666;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer; 
  background: #ffffff url("../images/icon_check.png") 50% 50% no-repeat;
}

td button.current-status-inactive {
  height: 28px;
  width: 28px;
  color: transparent;
  border: 1px solid #666666;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer; 
}



